<footer>
    <nav>
        <a href="https://webpages.charlotte.edu/creyno35/">Charlotte.edu</a>
        ||
        <a href="https://github.com/CReynoldss/">Github</a>
        ||
        <a href="https://creynoldss.github.io/">Github pages</a>
        ||
        <a href="https://creynoldss.github.io/ITIS3135/">Github Course Page</a>
        ||
        <a href="https://www.freecodecamp.org/CReynoldss/">FreeCodeCamp</a>
        ||
        <a href="https://www.codecademy.com/profiles/CReynoldss/">CodeAcademy</a>
        ||
        <a href="http://www.linkedin.com/in/chris-reynolds-8773b9130/">Linkedin</a>
    </nav>
    <p> Page designed by <a href="reynoldscrafts.us"> Reynolds Crafts Inc.</a> Certified in <a href="https://www.freecodecamp.org/certification/CReynoldss/responsive-web-design">RWD</a> &copy; 2024 </p>
    <a href="https://validator.w3.org/check?uri=referer" id="validation_link_html"><img style="border:0;width:88px;height:31px" src="Images/button_validation_html5.png" alt="Valid HTML!"> </a>
    <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css"><img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!"> </a>  
</footer>